*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* Form styling */
form {
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
input[type="submit"] {
    width: 100px;
    padding: 10px;
    background-color: rgb(83, 83, 245);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Error text */
span {
    color: red;
    font-size: 13px;
}

/* Table styling */
table {
    
    width: 65%;
    margin-left: 220px;
    margin-right: 200px;
    border-collapse: collapse;
    
}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
    /* text-align:center; */
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Action links */
#edit, #delete {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    margin-right: 5px;
    transition: 0.2s;
    margin-left: 10px;
}

/* Edit button */
#edit {
    background-color: #4da6ff;
}

#edit:hover {
    background-color: #0e66bf;
}

/* Delete button */
#delete {
    background-color: #ff4d4d;
}

#delete:hover {
    background-color: #e60000;
}